{%extends 'grocery_list/base.html'%}
{%load staticfiles%}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery_list/style.css' %}" />
<div id="wrapper">
        Name: {{item.name}} <br/>
        Quantity: {{item.quantity}}<br/>
        {%if item.cat.all%}
        Category(ies):
        <ul>
        {%for c in item.cat.all%}
            <li>{{c.name}}</li>
        {%endfor%}
        {%endif%}
        </ul>
        <br>
        Buy by: {{item.date}}
    </div>
{%endblock%}